body {
    height: 500px;
    width:500px;
}

div.tab-content {
    color: white;
    background-color: #1A3F6C;
    /*position: absolute;
    top: 0;
    left: 0;*/
    height: 100%;
    width: 100%;
}

img#footer_img {
    position:absolute;
    bottom:30;
    right:0;
}